/* latin-ext */
@font-face {
  font-family: "DINPro-regular";
  font-style: normal;
  font-display: swap;
  src:
    url(DinPro/DINPro-Regular.otf) format("otf"),
    url(DinPro/DINPro-Regular.otf) format("truetype");
}

@font-face {
  font-family: "DINPro-Medium";
  font-style: normal;
  font-display: swap;
  src:
    url(DinPro/DINPro-Medium.otf) format("otf"),
    url(DinPro/DINPro-Medium.otf) format("truetype");
}

@font-face {
  font-family: "DINPro-Bold";
  font-style: normal;
  font-display: swap;
  src:
    url(DinPro/DINPro-Bold.otf) format("otf"),
    url(DinPro/DINPro-Bold.otf) format("truetype");
}
